.app__navbar {
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}

.app__header {
  background-color: #fafafa;
  border-bottom: 1px solid lightgray;
}
.app__header img {
  object-fit: contain;
}

.app__useractions {
  display: flex;
}
